sudo: required
dist: trusty

language: generic

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - cmake
            - g++-4.9
      env: 
        - CXX=g++-4.9 CC=gcc-4.9 MODE=Debug
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - cmake
            - clang-3.6
      env: 
        - CXX=clang++-3.6 CC=clang-3.6 MODE=Debug
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - cmake
            - g++-4.9
      env: 
        - CXX=g++-4.9 CC=gcc-4.9 MODE=Release
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - cmake
            - clang-3.6
      env: 
        - CXX=clang++-3.6 CC=clang-3.6 MODE=Release
  
script:
  - (cd cmaki && git pull origin master)
  - ./cmaki/run.sh
