language: c
services: docker
os: linux
env:
    - TARGET=linux64 MODE=Debug
    - TARGET=linux64 MODE=Release
    # - TARGET=windows64
    # - TARGET=android64
script:
    - MODE=$MODE make clean prepare $TARGET
