version: 0.1.{build}

platform:
  - x64

install:
  - cmd: git submodule update --init --recursive

build_script:
  - cmd: mkdir release
  - cmd: cd release
  - cmd: cmake .. -DCMAKE_BUILD_TYPE=Release -DFIRST_ERROR=1 -G "Visual Studio 14 2015 Win64"
  - cmd: cmake --build . --config Release --target install

test_script:
  - cmd: ctest . --no-compress-output --output-on-failure -T Test -C Release -V

